<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta content="<%- video_name %> - Skibidihub" property="og:title" />
        <meta content="<%- description %>" property="og:description" />
        <link type="application/json+oembed" href="<%- author_url %>">
        <meta property="og:type" content="video.other">
        <meta property="og:video" content="<%- video %>">
        <meta property="og:video:secure_url" content="<%- video %>">
        <meta property="og:video:width" content="1280">
        <meta property="og:video:height" content="720">
        <meta property="og:video:type" content="text/html">
        <meta name="theme-color" content="#FFA200">

        <title>▶️SkibidiHub - Video</title>
    </head>
</html>